# Standard Python ignores
__pycache__/
*.py[cod]
*$py.class

# Ignore downloaded archives
*.exe
*.zip

# Ignore extracted screensaver assets
/screensaver/

# Ignore the generated HLS stream and media segments
/stream/
